<form action="/calculate" method="post" class="form-horizontal">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="variables_count" class="col-md-4 control-label">Número de Variáveis</label>
        <div class="col-md-8">
          <input type="number" id="variables_count" name="variables_count" class="form-control" data-variables-count autofocus>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="restrictions_count" class="col-md-4 control-label">Número de Restrições</label>
        <div class="col-md-8">
          <input type="number" id="restrictions_count" name="restrictions_count" class="form-control" data-restrictions-count>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="variables-panel hide">
    <h3>Variáveis</h3>
    <div class="row">
      <div class="col-md-1" data-variable-field>
        <div class="form-group">
          <div class="col-md-12">
            <input type="number" name="variables[]" data-variable="true" class="form-control" placeholder="x₁">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="restrictions-panel hide">
    <h3>Restrições</h3>
    <div class="restriction-fields"></div>
  </div>

  <div class="formule-panel hide text-center well">
    <div class="formule">Z = <span class="formule-variables"></span></div>
    <div class="restrictions"></div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </div>
</form>